body {
  background: #141414;
  color: #ffffff;
}

.hide-native-scrollbar {
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}
.hide-native-scrollbar::-webkit-scrollbar {
  /** WebKit */
  display: none;
}

.movie-app > .row {
  overflow: hidden;
}

.movie-app > .movies-row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  width: auto;
  padding: 0;
}

.image-container:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
